<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
        {{ partial "nav-invert.html" .}}

        <section id="fh5co-contact" data-section="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center" style="margin-bottom:0px;">
                        <h2 class="to-animate">{{ with .Title }}{{ . | markdownify }}{{ end }}</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 subtext to-animate">
                                <h3>{{ with .Description }}{{ . | markdownify }}{{ end }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">    
                    <div class="col-md-6 col-md-offset-3 to-animate">
                        <form name="Volunteer Contact" netlify-honeypot="bot-field" data-netlify="true" action="thank-you">
                            <p class="hidden">
                                <label>Don’t fill this out if you're human: <input name="bot-field"></label>
                            </p>
                        <div class="form-group ">
                            {{ with .Site.Params.contact.name }}
                            <label for="name" class="sr-only">{{ . | markdownify }}</label>
                            <input id="name" class="form-control" name="name" placeholder="{{ . }}" type="text">
                            {{ end }}
                        </div>
                        <div class="form-group ">
                            {{ with .Site.Params.contact.email }}
                            <label for="email" class="sr-only">{{ . | markdownify }}</label>
                            <input id="email" class="form-control" name="_replyto" placeholder="{{ . }}" type="email">
                            {{ end }}
                        </div>
                        <div class="form-group ">
                            {{ with .Site.Params.contact.phone }}
                            <label for="phone" class="sr-only">{{ . | markdownify }}</label>
                            <input id="phone" class="form-control" name="phone" placeholder="{{ . }}" type="text">
                            {{ end }}
                        </div>
                        <div class="form-group ">
                            {{ with .Site.Params.contact.message }}
                            <label for="message" class="sr-only">{{ . | markdownify }}</label>
                            <textarea id="message" cols="30" rows="5" class="form-control" name="message" placeholder="{{ . }}"></textarea>
                            {{ end }}
                        </div>
                        <div data-netlify-recaptcha></div>
                        <br>
                        <div class="form-group ">
                            <input class="btn btn-primary btn-lg" value="{{ .Site.Params.contact.button | markdownify }}" type="submit">
                        </div>
                        </form>
                    </div>
    
                </div>
            </div>
            {{ if .Site.Params.contact.map }}
                <div id="map" class="to-animate"></div>
            {{ end }}
        </section>

        {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" .}}
        {{ end }}

        {{ partial "js.html" .}}
    </body>
</html>