@font-face {
	font-family: 'icogrey';
	src:
	  url('../fonts/icogrey/icogrey.ttf?d98xsz') format('truetype'),
	  url('../fonts/icogrey/icogrey.woff?d98xsz') format('woff'),
	  url('../fonts/icogrey/icogrey.svg?d98xsz#icogrey') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="grey-"], [class*=" grey-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icogrey' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .grey-noun_122258_cc:before {
	content: "\e900";
  }
  .grey-noun_198566_cc:before {
	content: "\e901";
  }
  .grey-noun_448118_cc:before {
	content: "\e902";
  }
  .grey-noun_448119_cc:before {
	content: "\e903";
  }
  .grey-noun_448120_cc:before {
	content: "\e904";
  }
  .grey-noun_448121_cc:before {
	content: "\e905";
  }