{{ $urlPre := "http://api.petfinder.com" }} 
{{ $adoptables := getJSON $urlPre "/shelter.getPets?key=4737b1e3aed2a7cb1c6881fd3dbd5a23&id=IA91&status=X&format=json&count=1000" }}
{{ $alumni := index $adoptables.petfinder.lastOffset "$t" }}

<section id="fh5co-counters" style="background-image: url(images/{{ .Site.Params.counters.background }});" data-stellar-background-ratio="0.5">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center to-animate">
					<h2>{{ .Site.Params.counters.title | markdownify }}</h2>
				</div>
			</div>
			<div class="row">
			{{ range first 3 .Site.Params.counters.item }}
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="fh5co-counter to-animate">
						<i class="fh5co-counter-icon {{ .icon }} to-animate-2"></i>
						<span class="fh5co-counter-number js-counter" data-from="{{ .from }}" data-to="{{ .to }}" data-speed="{{ .speed }}" data-refresh-interval="{{ .interval }}">{{ .to }}</span>
						<span class="fh5co-counter-label">{{ .description }}</span>
					</div>
				</div>
			{{ end }}
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="fh5co-counter to-animate">
					<i class="fh5co-counter-icon icon-people to-animate-2"></i>
					<span class="fh5co-counter-number js-counter" data-from="0" data-to="{{ add (int $alumni) 478 }}" data-speed="5000" data-refresh-interval="50">{{ add (int $alumni) 478 }}</span>
					<span class="fh5co-counter-label">Happy Tails</span>
				</div>
			</div>
			</div>
		</div>
	</section>