<section id="fh5co-adoptables">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">Our Adoptables</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>We currently have {{ if eq (len .Site.Data.greyhounds) nil }}0
							greyhounds{{ else }}{{ (len .Site.Data.greyhounds) }}
							{{ if gt (len .Site.Data.greyhounds) 1}}{{ pluralize "greyhound" }}{{ else }}greyhound{{ end }}{{ end }}
							available for
							adoption.<br>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom-padded-sm">
			{{ range .Site.Data.greyhounds }}
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="{{ .url }}" class="fh5co-project-item to-animate">
					<div style="max-width:500px;padding-top:75%;position:relative;">
						<img style="position:absolute;top:0;left:0;" src="{{ .primary_photo_cropped.large }}"
							alt="{{ .name }}" class="img-responsive lazy">
					</div>
					<div style="z-index:10; position:relative; background-color:white;" class="fh5co-text">
						<h2>{{ .name }}</h2>
						<span>I'm a beautiful {{ lower .age }} {{ .gender }}!</span>
					</div>
				</a>
			</div>
			{{ end }}
			<div class="clearfix visible-sm-block"></div>
		</div>
	</div>
</section>