	<section id="fh5co-adoptables">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.work.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range (where (where .Data.Pages "Section" "greyhounds") ".Params.status" "eq" "A") }}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href={{ .Params.slug }} class="fh5co-project-item to-animate">
						{{ range first 1 .Params.images }}
						<div style="max-width:500px;padding-top:75%;position:relative;">
							<img style="position:absolute;top:0;left:0;" src={{ printf "%s" . }} alt="{{ $.Params.title }}" class="img-responsive" >
						</div>
						{{ end }}
						<div style="z-index:10; position:relative; background-color:white;" class="fh5co-text">
						<h2>{{ .Params.title }}</h2>
						{{ if and (isset .Params "sex") (eq .Params.sex "M") }}
							<span>I'm a beautiful {{lower .Params.age }} male.</span>
						{{ else if and (isset .Params "sex") (eq .Params.sex "F") }}
							<span>I'm a beautiful {{lower .Params.age }} female.</span>
						{{ else }}
							<span>I'm a beautiful {{lower .Params.age }} grey.</span>
						{{ end }}
						</div>
					</a>
				</div>				
			{{ end }}
			<div class="clearfix visible-sm-block"></div>
			</div>
		</div>
	</section>
